#container{
	display: grid;
	grid: row;
	grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
}

#container div{
	border: 10px solid #ccc;
	background-color: #fafafa;
}

h1{
	font-size: 1.5em;
}

p{
	font-size: 0.75em
}